body {
    background-color: #F5A952;
}

h1 {
    color: #3F2014;
    text-align: center;
}
h2 {
    color: #4C1319;
}
section {
    width: 410px;
    margin: 20px;
    padding: 10px;
}
#activities {
    position: relative;
    bottom: 305px;
    left: 470px;
}