body {
    background-color: #297C45;
}

h1 {
    color: #3F2014;
    text-align: center;
    font-family: 'Nanum Pen Script', cursive;
}

section {
    width: 410px;
    margin: 20px;
    padding: 10px;
    font-family: 'Titillium Web', sans-serif;
}

#places {
    background-color: #4E9C68;
}
#activities {
    background-color: #4E9C68;
    position: relative;
    bottom: 500px;
    left: 470px;
}